body {
    background: #eee;
    color: #333;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: "Ubuntu Mono";
}

.CodeMirror {
    height: 100%;
    font-size: 90%;
    background: white;
}

.contributor-sep {
    clear: left;
}

wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.left-panel {
    width: 20%;
    height: 100%;
    background: #eee;
    float: left;
}

.v-indicator {
    width: 2px;
    height: 100%;
    background: #c9c9c9;
    float: left;
}

.right-panel {
    width: auto;
    height: 100%;
}

.tool-bar {
    height: 5%;
}

.tab-pane {
    height: 5%;
    background-color: #c9c9c9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab-pane li {
    float: left;

}

.tab-pane li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.tab-pane li a:hover {
    background-color: #7D7D7D;
}

.is-show {
    background: #7D7D7D;
}

#run-view {
    background: #e3e7ee;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    margin-left: 22%;
    color: #dd0e00;
}

#run-view-header {
    background: #83878b;
    width: 100%;
    height: 30px;
    padding-left: 30px;
}

#run-view-errors {
    width: 100%;
    height: auto;
    padding-left: 35px;
}